@import "../../sass/variables";

.categoryHeader {
  padding-top: 16px;
  padding-bottom: 16px;
}

.categoryHeaderPrimary {
  color: #000;
}

.item {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #18202c;
}

.sub-tree {
  padding-left: 10px;
}
.main-menu {
  .itemLink {
    color: inherit;
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    width: 100%;
  }

  .itemLink {
    &.active {
      span {
        border-bottom: 1px solid $darkBlue;
      }
    }
  }
}

.itemCategory {
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}

.firebase {
  font-size: 24px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #000;
}

.itemActionable {
  padding: 0 !important;

  a {
    padding: 8px 16px;
  }

  &:hover {
    background-color: #9ba4b0;
  }
}

.item.disabled {
  color: $grey;

  &:hover {
    background-color: inherit;
  }
}

.itemLink .itemPrimary {
  color: inherit;
  margin: 0 0 0 36px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
}

.btn-toggle {
  padding: 20px;
}

.main-menu {
  .itemPrimary.textDense {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.67;
    letter-spacing: normal;
  }
}

.divider {
  margin-top: 8px * 2;
}

.menu-list {
  margin: 86px 0 86px 0;
  max-width: 300px;
}

.item-logo {
  margin: 40px 83px 0 74px;
  width: 110px !important;
  height: 83px;

  img {
    width: 100%;
  }
}
