@import 'sass/_variables';

.date-range-picker {
  float: right;

  &_calendar {
    position: absolute;
    z-index: 99;
    margin-left: -36px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  }

  &_calendar, .rdr-DateRange, .rdr-Calendar {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
  }

  input {
    text-align: center;
  }
}
