.reviews {
  &_icon-link {
    cursor: pointer;
  }

  &_rating {
    &-1 {
      color: #ff6f7c;
    }

    &-2 {
      color: #bdc1c7;
    }

    &-3 {
      color: #f7d56c;
    }

    &-4 {
      color: #9ccdff;
    }

    &-5 {
      color: #7ed693;
    }
  }
}
