.reviews_icon-link {
  cursor: pointer; }

.reviews_rating-1 {
  color: #ff6f7c; }

.reviews_rating-2 {
  color: #bdc1c7; }

.reviews_rating-3 {
  color: #f7d56c; }

.reviews_rating-4 {
  color: #9ccdff; }

.reviews_rating-5 {
  color: #7ed693; }
