.paper {
  max-width: 936px;
  margin: auto;
  overflow: hidden; }

.searchBar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.searchInput {
  font-size: 26px; }

.block {
  display: block; }

.addUser {
  margin-right: 8px; }

.contentWrapper {
  margin: 40px 16px; }
